<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Slacker News</title>

    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="yielded_pages.css">
  </head>

  <body>
<div class = "container">

<ul class = "nav">
<li class = "name"> Slacker News</li>
<li><a href="">new</a></li>
<li><a href="comments.html">| comments |</a></li>
<li><a href=""> show |</a></li>
<li><a href=""> ask | </a></li>
<li><a href=""> jobs | </a></li>
<li><a href="/new"> submit |</a></li>
</ul>
<ol class= "links">


<%= yield %>







</ol>
<hr size=4>
<ul class = "footer">
<li><a href="">Guidelines</a></li>
<li><a href="">| FAQ |</a></li>
<li><a href=""> Lists |</a></li>
<li><a href=""> Bookmarklet | </a></li>
<li><a href=""> DMCA | </a></li>
<li><a href=""> News News |</a></li>
<li><a href=""> Bugs and Feature Requests |</a></li>
<li><a href=""> Y Combinator |</a></li>
<li><a href=""> Apply |</a></li>
<li><a href=""> Library |</a></li>
<li><a href=""> Contact |</a></li>
</ul>
<div class = "search">
<form>
<input type "text" placeholder="Search">
<input type="button" value="Search">
</form>
</div>
</div>
  </body>
</html>
